# Commom packages
matplotlib == 3.7.1
ipywidgets == 8.0.4
seaborn == 0.12.2
pylatexenc == 2.10

# Framework-specific packages
pyzmq == 19.0.2
qsharp-core == 0.27.258160
qsharp == 0.27.258160
qsharp-chemistry == 0.27.258160
azure-quantum == 0.27.258160
qdk == 0.27.258160
PennyLane-qsharp == 0.8.0