# Commom packages
matplotlib == 3.7.1
ipywidgets == 8.0.4
seaborn == 0.11.2
pylatexenc == 2.10

# Framework-specific packages
pytket == 0.16.0
pytket-qiskit == 0.19.0
pytket-cirq == 0.17.0
pytket-pyquil == 0.17.0
pytket-projectq == 0.15.0
pytket-pyzx == 0.15.0
pytket-aqt == 0.14.0
pytket-honeywell == 0.17.0
pytket-qsharp == 0.18.0
pytket-braket == 0.13.0
pytket-qulacs == 0.13.0
pytket-ionq == 0.12.0